
body {
    background-color: #dbebff;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.dropdown-submenu > .dropdown-menu { right: auto; right: 100%; }
/* Arrow position */
.dropdown-submenu { position: relative; }
.dropdown-submenu > a:after { position: absolute; left: 7px; top: 3px;
    float: none; border-right-color: #cccccc; border-width: 5px 5px 5px 0;
}
.dropdown-submenu:hover > a:after { border-right-color: #ffffff; }