<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="images/header.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row">

        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
                <ul class="nav nav-list navbar navbar-inverse">
                    <li>
                        <a href="#">Новости</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            &nbsp;Главная
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                            Клуб Тэн-Чи <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                        <!--<a tabindex="-1" href="#">More options</a>-->
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Идеология</a></li>
                            <li><a href="#">Залы и расписания</a></li>
                            <li><a href="#">Педагоги</a></li>
                            <li><a href="#">Волонтеры</a></li>
                            <li><a href="#">Награды</a></li>
                            <li><a href="#">УМК-продукция</a></li>
                            <li><a href="#">Аттестация на степени</a></li>
                            <li><a href="#">Вопросы - Ответы</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Третчатка <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Методики</a></li>
                            <li><a href="#">Планы и отчеты</a></li>
                            <li><a href="#">Фото</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            &nbsp;О нас <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Обзор нашей деятельности</a></li>
                            <li><a href="#">Наше творчество</a></li>
                            <li><a href="#">Наши фотографии</a></li>
                            <li><a href="#">Юмор</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Проекты <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Почемушник</a></li>
                            <li><a href="#">На склоне</a></li>
                            <li><a href="#">Конкурсы</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-c"></i>
                            Контакты <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Схема проезда</a></li>
                        </ul>
                    </li>
                </ul>



        </div>
    </div>
</div>
<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>