<%layout('./layout/page') -%>
<%block('title', 'Login')%>

<div class="container">
    <div class="row">
        <div class="col-md-sm-6 col-md-4 col-md-offset-4">
            <form method="post" class="form-horizontal">
                <input type="email" class="form-control" id="Login" placeholder="Логин">
                <input type="password" class="form-control" id="Password" placeholder="Пароль">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
            </form>
            <a href="" class="text-center">Создать аккаунт</a>
        </div>
    </div>
</div>
